<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <link rel="stylesheet" href="/static/CSS/dashboard.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <a href="{% url 'Home:home' %}" style="text-decoration: none;color: black;"><h2>E-GRad</h2></a>
        <ul>
            <li class="nl"> <a href="{% url 'Home:dash' %}" target="_blank" class="n">E-Exam</a> </li>
            <li class="nl"><a href="{% url 'posts:list'%}"  class="n">Open Forum</a></li>
            <li class="nl"><a href="{%url 'repository:erep' %}"  class="n">e-Repository</a></li>
            <li class="nl"><a href="{%url 'wall:list' pk=user.pk %}" class="n">My Wall</a></li>
            <li class="nl"><a href="{%url 'Home:logout'%}" class="n">Log Out</a></li>
        </ul>
    </nav>
    <section>
        <h1>EXAM DASHBOARD</h1>
        <div>
            <p id="assign" style="border-bottom: 2px solid black;">ASSIGNED EXAMS</p>
             <a href="/Guidelines" class="e"style="border-bottom: 2px solid black;">Data Structure & Algorithms <span>Attempt Now</span></a>
             <a href="#" class="e"style="border-bottom: 2px solid black;">Operating System <span>Attempt Now</span></a>
             <a href="#" class="e" style="border-bottom-left-radius: 10px;
             border-bottom-right-radius: 10px;">Computer Networks <span>Attempt Now</span></a>
        </div>
    </section>
    <img src="/Attachments/16025728071-removebg-preview.png" >
</body>
</html>